# For the STM32 CubeIDE project
# Build Artifacts (object files, executables, map files, etc.)
Debug/
Release/
build/
*.o
*.elf
*.hex
*.map
*.su
*.d

# IDE-specific configuration files and temporary data
.metadata/
.settings/
.cache/
.cproject
.project

# Launch configuration files (contain absolute paths/ST-Link serial numbers)
*.launch

# CubeMX project file specific artifacts
.mxproject

# Optional: Ignore generated documentation or backup files
# *.chm 
# *.bak

# Optional: If you manage your libraries via git submodules, you may ignore the generated Driver files
Drivers/
Middlewares/

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# History File
*.history
